<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculator Web App</title>
</head>
<body>
	<h2>Calculator Web App</h2>
	<form method="post" action="/calculate">
		<table>
			<thead>
				<tr>
					<input type="number" name="firstNumber" required>
				</tr>
				<tr>
					<select name="select">
						<option>+</option>
						<option>-</option>
						<option>*</option>
						<option>/</option>
						<option>^</option>
					</select>
				</tr>
				<tr>
					<input type="number" name="secondNumber" required>
				</tr>
			</thead>
		</table>
		<br>
		<button>Calculate</button>
	</form>
	<br>
	<form method="post" action="/clear">
		<input type="hidden">
		<button>Clear</button>
	</form>
	<br>
	<table>
		{{#calculatorMemory.calculationsList}}
		<thead>
		<tbody>
			<tr>
				<td>{{ firstNumber }}</td>
				<td>{{ operation }}</td>
				<td>{{ secondNumber }}</td>
				<td>=</td>
				<td>{{ result }}</td>
			</tr>
		</tbody>
		{{/calculatorMemory.calculationsList}}
	</table>
</body>
</html>